@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400&family=Outfit:wght@300&family=Poppins:wght@100;200;400&family=Raleway:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .home {
    position: relative;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    color: #00b90f;
    text-decoration: none;
    font-weight: 600;
}
header .navigation {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
header .navigation li {
    list-style: none;
    margin: 0 5px;
}
header .navigation li a {
    padding: 10px 20px;
    color: #00b90f;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.75s;
}
header .navigation li a:hover {
    background: #00b90f;
    color: #fff;
}
header .acess {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
header .acess li {
    list-style: none;
    margin: 0 5px;
}
header .acess li .register {
    padding: 10px 20px;
    border: 1px solid #00b90f;
    border-radius: 5px;
    color: #00b90f;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
header .acess li .register:hover {
    background: #00b90f;
    color: #fff;
}
header .acess li .login {
    padding: 10px 20px;
    background: #00b90f;
    border: 1px solid #00b90f;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.main {
    height: 100vh;
    background: #00b90f;
    padding: 200px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .content {
    max-width: 700px;
}
.main .content .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    color: #fff;
}
.main .content .text {
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    color: #fff;
}
.main .content .button {
    display: inline-block;
    margin-top: 50px;
    margin-left: 30px;
    width: 400px;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #00b90f;
    font-size: 2rem;
    padding: 15px 20px;
    background: #fff;
    border-radius: 10px;
    transition: 0.75s;
}
.main .content .button:hover {
    background: rgb(221, 212, 212);
    color: #00b90f;
}
.main .logo {
    max-width: 400px;
    margin-left: 50px;
}
.introduction {
    height: 100vh;
    background: #fff;
    padding: 200px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduction .content {
    margin-left: 150px;
    max-width: 800px;
}
.introduction .content .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #00b90f;
}
.introduction .content .text {
    max-width: 80%;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    color: #00b90f;
}
.introduction .content .button {
    display: inline-block;
    margin-top: 50px;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #00b90f;
    font-size: 1.2rem;
    padding: 15px 30px;
    background: #fff;
    border: 2px solid #00b90f;
    border-radius: 10px;
    transition: 0.5s;
}
.introduction .content .button:hover {
    background: #00b90f;
    color: #fff;
}
.introduction .ilustration {
    max-width: 400px;
    border-radius: 150px;
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.options .container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.options .container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    background: #00b90f;
    display: flex;
    flex-direction: column;
    /*border-radius: 20px;*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.options .container .card:hover {
    height: 360px;
}
.options .container .card .logobox {
    position: relative;
    width: 260px;
    height: 260px;
    top: 1rem;
    text-align: center;
    z-index: 1;
}
.options .container .card .logobox ion-icon {
    max-width: 100%;
    font-size: 9rem;
    color: #fff;
}
.options .container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.options .container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
}
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #00b90f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .sec {
    margin-right: 30px;
}
footer .container .sec.aboutus {
    width: 40%;
}
footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #fff; /*#008036*/
}
footer p {
    color: #fff;
}
.socials {
    margin-top: 20px;
    display: flex;
}
.socials li {
    list-style: none;
}
.socials li a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #01a30e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 15px;
    color: #fff;
    font-size: 1.5rem;
    transition: 0.5s;
}
.socials li a:hover {
    background: #00740a; /*rgb(209, 209, 209)*/
}
.documents {
    position: relative;
    width: 25%;
}
.documents ul li {
    list-style: none;
}
.documents ul li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.5s;
}
.documents ul li a:hover {
    color: rgb(209, 209, 209)
}
.contactus {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contactus .contacts {
    position: relative;
}
.contactus .contacts li {
    display: flex;
    margin-bottom: 16px;
}
.contactus .contacts li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contactus .contacts li span {
    color: #fff;
}
.contactus .contacts li a {
    color: #fff;
    text-decoration: none;
}
.copyright {
    width: 100%;
    background: #00a30e;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
}


@media (max-width: 991px)
{
    header {
        padding: 10px 20px;
        flex-direction: column;
    }
    .main {
        height: auto;
        padding: 150px 20px 50px;
        flex-direction: column-reverse;
    }
    .main .logo {
        max-width: 400px;
        margin-left: 0;
    }
    .main .content .title {
        font-size: 4rem;
    }
    .introduction {
        height: auto;
        padding: 150px 20px 50px;
        flex-direction: column;
    }
    .introduction .ilustration {
        max-width: 400px;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .introduction .content .title {
        font-size: 3.5rem;
    }
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec.aboutus,
    .documents,
    .contactus {
        width: 100%;
        margin-bottom: 30px;
    }
    .copyright {
        padding: 8px 40px;
    }
}
@media (max-width: 600px)
{
    header .search {
        width: 100%;
    }
}
